---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bad Interface</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/dice-1.0.min.css">
    <link rel="icon" type="image/png" href="favicon.png">

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/propeller-b5a0ebf.js"></script>
    <script src="js/tesseract-v2.0.1.min.js"></script>

    <!-- Analytics -->
    <script defer data-domain="mattw.io" src="https://plausible.io/js/plausible.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100434147-8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-100434147-8');
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="one-third column" style="margin-top: 5%">
            <h3>About</h3>
            <p>
                A collection of purposefully bad user interface implementations.
                Inspired by posts on <a href="https://www.reddit.com/r/badUIbattles/">r/badUIbattles</a>.
            </p>
            <p>
                <a href="https://github.com/mattwright324/bad-ui">Fork me on GitHub</a>
            </p>
            <h4>Bad</h4>
            <ul>
                <li>Date inputs
                    <ul>
                        <li><a href="#all-the-years">All the years</a></li>
                        <li><a href="#index-of-pi">Index of π</a></li>
                        <li><a href="#random-date">Random date</a></li>
                        <li><a href="#day-adder">Day Adder</a></li>
                        <li><a href="#date-slider">Date Slider</a></li>
                        <li><a href="#boomerang">Date Boomerang</a></li>
                        <li><a href="#roll-the-date">Roll the Date</a></li>
                    </ul>
                </li>
                <li>Email inputs
                    <ul>
                        <li><a href="#ouija-email">Ouija Email</a></li>
                    </ul>
                </li>
                <li>Phone inputs
                    <ul>
                        <li><a href="#phone-dropdown">Phone Dropdown</a></li>
                        <li><a href="#random-phone">Random Phone</a></li>
                        <li><a href="#phone-slider">Phone Slider</a></li>
                        <li><a href="#boomerang-phone">Phone Boomerang</a></li>
                        <li><a href="#etch-a-phone">Etch-a-Phone</a></li>
                    </ul>
                </li>
                <li>Volume inputs
                    <ul>
                        <li><a href="#pump-it-volume">Pump It Volume</a></li>
                        <li><a href="#fiddle-volume">Fiddle Volume</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <script>
            const global = (function () {
                'use strict';

                return {
                    shuffleArray: function (array) {
                        return array.sort(() => Math.random() - 0.5);
                    },
                    randomizeChildren: function randomizeChildren(element) {
                        function randomize() {
                            $(element + ">").map(function (i, t) {
                                let s = $(t).siblings();
                                s.eq(Math.round(s.length * Math.random())).after(t)
                            })
                        }

                        randomize();
                        $(element).change(randomize);
                    },
                    leftPad(string, char, length) {
                        let padded = String(string);
                        while (padded.length < length) {
                            padded = char + padded;
                        }
                        return padded.substr(0, length);
                    },
                    rightPad(string, char, length) {
                        let padded = String(string);
                        while (padded.length < length) {
                            padded += char;
                        }
                        return padded.substr(0, length);
                    }
                }
            })();
        </script>

        <div class="two-thirds column" style="margin-top: 5%">

            <h3>Bad Date</h3>
            {% include date-dropdown.html %}
            {% include date-index-of-pi.html %}
            {% include date-day-adder.html %}
            {% include date-slider.html %}
            {% include date-boomerang.html %}
            {% include date-roll-the.html %}

            <h3>Bad Email</h3>
            {% include email-ouija-board.html %}

            <h3>Bad Phone</h3>
            <script>
                const phone = (function () {
                    'use strict';

                    return {
                        /**
                         * Formats a digit to a US style number.
                         * @param integer
                         * @returns e.g. +1 (xxx) xxx-xxxx
                         */
                        toUSString: function (integer) {
                            let number = String(Math.trunc(integer));

                            while (number.length < 10) {
                                number = "0" + number;
                            }

                            return "+1 (" + number.substr(0, 3) + ") " + number.substr(3, 3) + "-" + number.substr(6, 4);
                        }
                    }
                })();
            </script>
            {% include phone-dropdown.html %}
            {% include phone-random.html %}
            {% include phone-slider.html %}
            {% include phone-boomerang.html %}
            {% include phone-etch-a.html %}

            <h3>Bad Volume</h3>
            {% include volume-pumpit.html %}
            {% include volume-fiddle.html %}

        </div>
    </div>
    <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="twelve columns" align=center style="color:darkgray">
            mattwright324 | 2019 |
            <a href="/">home</a> |
            <a href="https://github.com/mattwright324">github</a> |
            <a href="https://github.com/mattwright324/bad-ui">bad-ui</a>
        </div>
    </div>
</div>
</body>
</html>
