<div class="column">
    <h5 id="pump-it-volume">Pump It Volume!</h5>
    <p>
        Keep on pumpin' it!
    </p>
    <div class="row" style="margin-bottom: 4%">
        <div class="columns two">
            <div class="pump-container">
                <img class="pump-handle" src="img/pumpit-handle.png">
                <img class="pump-cylinder" src="img/pumpit-cylinder.png">
                <progress id="pump-value" min="0" max="100"></progress>
            </div>
        </div>
        <div class="columns ten" id="pump-comment" style="color:darkgray">
            Be careful, you could make the leak worse.
        </div>
        <style>
            .pump-container {
                position: relative;
                height: 143px;
            }

            .pump-handle {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
            }

            .pump-cylinder {
                position: absolute;
                top: 43px;
                left: 0;
                z-index: 11;
            }

            #pump-value {
                position: absolute;
                top: 63px;
                left: -10px;
                width: 143px;
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);

            }

            @keyframes move-handle {
                0% {
                    top: 0
                }
                45% {
                    top: 37px
                }
                55% {
                    top: 37px
                }
                100% {
                    top: 0
                }
            }

            .pump-handle-move {
                animation-name: move-handle;
                animation-duration: 0.35s;
            }

            button[disabled] {
                background-color: lightgray !important;
            }
        </style>
    </div>
    <p id="pump-status"></p>
    <button id="movePump" class="button-primary">Pump</button>
    <script>
        (function () {
            'use strict';
            const btnMovePump = $("#movePump");
            const pumpHandle = $(".pump-handle");
            const pumpStatus = $("#pump-status");
            const pumpValue = $("#pump-value");
            const pumpComment = $("#pump-comment");

            let currentValue = 50;

            function updatePumpValue() {
                pumpValue.val(currentValue);

                pumpStatus.text("You're volume is at " + Math.trunc(currentValue) + "%");
            }

            let leakRate = 1;

            // That pesky leak, when will someone fix that?
            setInterval(function () {
                currentValue -= Math.random() * leakRate;

                if (currentValue <= 5) {
                    currentValue = 5;
                }

                updatePumpValue();
            }, 150);

            function pumpUp(amount, totalMillis) {
                if (currentValue + amount >= 108) {
                    leakRate = 5;
                    pumpComment.text("Whoops, you broke it even more.");
                    pumpComment.css("color", "red");
                } else {
                    console.log(currentValue + amount);
                }

                const times = 5;
                pumpUpOverMillis(0, times, amount / times, totalMillis / times)
            }

            function pumpUpOverMillis(iteration, totalTimes, amount, millis) {
                currentValue += amount;
                if (currentValue >= 99) {
                    currentValue = 99;
                }

                updatePumpValue();

                if (iteration < totalTimes) {
                    setTimeout(function () {
                        pumpUpOverMillis(iteration + 1, totalTimes, amount, millis);
                    }, millis);
                }
            }

            btnMovePump.on('click', function () {
                btnMovePump.attr("disabled", "true");
                pumpHandle.addClass("pump-handle-move");

                pumpUp(10, 350);

                setTimeout(function () {
                    btnMovePump.removeAttr("disabled");
                    pumpHandle.removeClass("pump-handle-move");
                }, 350);
            })
        })()
    </script>
    <p>
        <small>
            <a href="https://www.reddit.com/r/badUIbattles/comments/e805pl/ready_your_arms_airpump_filled_volume_control/">
                Reddit: Ready your arms, air-pump filled volume control!
            </a>
        </small>
    </p>
    <hr>
</div>
